.book-event {
  padding: 56px;
  min-height: 100vh;
  background-color: rgba(254, 206, 202, 1);
  align-items: center;
}
.book-event img{
cursor: pointer;
}
.book-event-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  background-color: rgba(255, 255, 255, 0.67);
  margin: 0px auto;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.1);
  gap: 30px;
  padding: 26px 0px 70px;
  margin-top: 40px;
}
.book-event-contain span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  gap: 5px;
  margin-top: 25px;
  color: rgba(139, 139, 139, 1);
  font-family: "Roboto", sans-serif;
}
.book-event-contain p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: rgba(2, 48, 71, 1);
  font-family: "Roboto", sans-serif;
}

.book-event-input-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 75%;
}

@media screen and (max-width: 425px) {
  .book-event {
    padding: 56px 20px;
  }
  .book-event-contain {
    width: 100%;
    gap: 30px;
    padding: 26px 0px 70px;
    margin-top: 40px;
  }
  .book-event-input-wrap {
    width: 85%;
  }
}

