.modal {
  position: fixed;
  background-color: rgba(85, 85, 85, 0.65);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  width: 35%;
  height: 400px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0px 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
}

.modal-card p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(2, 48, 71, 1);
  font-family: "Roboto", sans-serif;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
